<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Work Center Theme - Free CSS Template</title>
<meta name="keywords" content="work center, theme, piecemaker 3D image slider, 960, free templates, CSS, HTML" />
<meta name="description" content="Work Center Theme is a free CSS template by templatemo.com for everyone. Feel free to use it for any purpose." />
<link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="~/Scripts/swfobject/swfobject.js"></script>
        
<script type="text/javascript">
  var flashvars = {};
  flashvars.cssSource = "~/Content/piecemaker.css";
  flashvars.xmlSource = "~/Views/Home/piecemaker.xml";
	
  var params = {};
  params.play = "true";
  params.menu = "false";
  params.scale = "showall";
  params.wmode = "transparent";
  params.allowfullscreen = "true";
  params.allowscriptaccess = "always";
  params.allownetworking = "all";
  
  swfobject.embedSWF('piecemaker.swf', 'piecemaker', '960', '440', '10', null, flashvars,    
  params, null);

</script>

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<link rel="stylesheet" type="text/css" href="~/Content/ddsmoothmenu.css" />

<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script> 
</head>

<body>

<div id="templatemo_header_wrapper">
    <div id="templatemo_header">
        <div id="site_title"><a href="http://www.templatemo.com" rel="nofollow">SmartPhone <span>Services</span></a></div>
        <div id="templatemo_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="/Home/index" class="selected">Home</a></li>
                <!--li><a href="distortion_effect.html">Distortion</a></li!-->
                <li><a href="/Home/signup">Sign Up</a>
                    
                </li>
                <li><a href="/Home/portfolio">Phones</a>
                    <ul>
                        <li><span class="top"></span><span class="bottom"></span></li>
                        <li><a rel="nofollow" href="/Home/price">Search by price</a></li>
                        <li><a rel="nofollow" href="/Home/searchmodel">Search by model</a></li>
                        <li><a rel="nofollow" href="/Home/Searchcompany">Search by company</a></li>
                             
                        
                  	</ul>
                </li>
                <li><a href="/Home/admin">Admin</a></li>
                <li><a href="/Home/users">Users</a></li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of templatemo_menu -->
    </div> <!-- END of header -->
</div>

<div id="templatemo_middle_wrapper">
	<div id="templatemo_middle">
        <div id="piecemaker">
          <p>This template is provided by <a href="http://www.templatemo.com" rel="nofollow">www.templatemo.com</a> and feel free to use it for your websites.</p>
        </div>
	</div>
</div> <!-- END of slider -->

<div id="templatemo_main_top"></div>
<div id="templatemo_main">
    <div class="fp_box5">
        <img src="~/Images/Apple-logo_small.jpg" alt="Image 01" width="59" height="55" />
        <h2>Iphone</h2>
        <p>&nbsp;</p>
    </div>
    <div class="fp_box5">
        <img src="~/Images/Samsung-Logo_small.jpg" alt="Image 02" width="129" height="54" />
        <h2>Samsung</h2>
        <p>&nbsp;</p>
    </div>
    <div class="fp_box5">
        <img src="~/Images/100806-htc_logo.jpg" alt="Image 03" width="115" height="56" />
        <h2>HTC</h2>
        <p>&nbsp;</p>
    </div>
    <div class="fp_box5">
        <img src="~/Images/download.jpg" alt="Image 04" />
        <h2>Sony</h2>
        <p>&nbsp;</p>
    </div>
    <div class="fp_box5 no_margin_right">
        <img src="~/Images/blackberry-logo-small.png" alt="Image 05" width="73" height="57" />
        <h2>Black Berry</h2>
        <p>&nbsp;</p>
    </div>
    <div class="cleaner h50"></div>
    <div class="col_12 float_l">
   	  <h2>&nbsp;</h2>
   	  <p>&nbsp;</p>
</div>
  <div class="col_12 float_r">
    <p>&nbsp;</p>
</div>
    
    <div class="cleaner"></div>
</div> <!-- END of main -->

<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer">
	
		<div class="col col_14"></div>
        <div class="col col_14">
        	<h5>&nbsp;</h5>
</div>
        <div class="col col_14">
        	<h5>&nbsp;</h5>
</div>
        
        <div class="col col_14 no_margin_right">
          <div class="cleaner h30"></div>
        </div>
        
    <div class="cleaner"></div>
    </div>
</div> <!-- END of footer -->


<script type='text/javascript' src='~/Scripts/logging.js'></script>
</body>
</html>